#sky {
  color: red;
}
#sky:after {
  content: "Less is more!";
}
#sky > #skyson {
  color: yellow;
}
#sky > #skyson .moon {
  color: blue;
}
#sky2.show {
  display: block;
}
.show {
  display: none;
}
